.wrapper {
	background: linear-gradient(
		to right,
		rgba(52, 51, 51, 1),
		rgba(72, 72, 72, 1),
		rgba(40, 40, 40, 1)
	);
	padding-top: 32px;
	padding-bottom: 32px;
}

.small_wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 900px;
}

.fav {
	display: flex;
	align-items: center;
}

.mark {
	margin-right: 5px;
	object-fit: contain;
}

.link {
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	padding-right: 16px;
	white-space: nowrap;
}

.link:hover,
.link:focus {
	color: rgb(142, 142, 142);
}

.link:last-child {
	padding-right: 0;
}

.desktopMenu {
	display: flex;
	align-items: center;
}

.menuIcon {
	display: flex;
	max-width: 25px;
	display: none;
	cursor: pointer;
}

.menu {
	z-index: 2;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgb(238, 238, 238);
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

.menu a {
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	margin: 1em 0;
}

@media (max-width: 431px) {
	.small_wrap {
		grid-gap: 220px;
	}

	.logo {
		max-width: 120px;
	}

	.link {
		font-size: 15px;
	}

	.menuIcon {
		z-index: 3;
		display: block;
	}

	.menu {
		display: none;
	}

	.menu.open {
		display: flex;
	}

	.desktopMenu {
		display: none;
	}

	.menu a {
		margin-top: 50px;
		color: rgba(57, 57, 57, 1);
	}
}
