.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 120px;
}

.text {
	font-size: 64px;
	font-weight: 700;
}

.artColor {
	color: rgba(241, 121, 0, 1);
}

.searchBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f0f0f0;
	border-radius: 16px;
	padding: 10px;
	width: 762px;
}

.searchBar input {
	border: none;
	background-color: transparent;
	flex-grow: 1;
	margin-right: 10px;
}

.searchBar input:focus {
	outline: none;
}

.searchBar button {
	cursor: pointer;
	background: none;
	border: none;
}

.searchBar img {
	width: 20px;
	height: 20px;
	padding-left: 10px;
}

.results {
	margin-top: 30px;
	width: 600px;
	background: #e9e9e9;
	border-radius: 10px;
}

.result {
	text-align: left;
}

.result_title {
	padding-top: 20px;
	color: #696969;
	font-size: 18px;
}

@media (max-width: 900px) {
	.searchBar {
		width: 562px;
	}

	.text {
		font-size: 34px;
		font-weight: 700;
	}

	.results {
		width: 500px;
	}
}

@media (max-width: 431px) {
	.searchBar {
		width: 262px;
	}

	.text {
		font-size: 34px;
		font-weight: 700;
	}

	.results {
		width: 300px;
	}
}
